{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GD</title>

  <!-- Bootstrap core CSS -->
  <link href="{%static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >

  <!-- Custom styles for this template -->
  <link href="{%static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Gadget Deals</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{%static 'affiliate/images/1.jpg'%}')">
        <div class="carousel-caption d-none d-md-block">
            <h3>Gadget Deals</h3>
            <p>Find the lowest and full fresh Laptop prices online.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{%static 'affiliate/images/2.jpg'%}')">

        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{%static 'affiliate/images/3.jpg'%}')">

        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4 text-center" >Welcome to Modern Business</h1>

    <!-- Portfolio Section -->

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jPXYjq"><img class="card-img-top" src="{%static 'affiliate/images/lap1.jpg'%}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jPXYjq">Acer Predator Helios 300 Gaming Laptop</a>
            </h4>
            <p class="card-text">Introducing Acer Predator Helios 300 gaming laptop..
Configuration: 
Intel Core i7-9750H,
GeForce GTX 1660 Ti,
15.6" Full HD 144Hz Display,
3ms Response Time, 
16GB DDR4, 
512GB PCIe NVMe SSD,
RGB Backlit Keyboard, 
PH315-52-710B</p>
<a href="https://amzn.to/3jPXYjq" class="btn btn-warning">$1,129.99 </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3m12JbV"><img class="card-img-top" src="{%static 'affiliate/images/lap2.jpg'%}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3m12JbV">Acer Predator Helios 300 Gaming Laptop PC</a>
            </h4>
            <p class="card-text">Introducing Acer Predator Helios 300 Gaming Laptop PC...
Configuration: 5.6" FHD IPS w/ 144Hz Refresh, Intel i7-8750H, GTX 1060 6GB, 16GB DDR4, 256GB NVMe SSD, Aeroblade Metal Fans PH315-51-78NP.</p>
          <a href="https://amzn.to/3m12JbV" class="btn btn-warning">$1,389.00 <a/>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3bwdk9W"><img class="card-img-top" src="{%static 'affiliate/images/lap3.jpg'%}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3bwdk9W">LG gram Thin and Light Laptop</a>
            </h4>
            <p class="card-text">Introducing LG gram Thin and Light Laptop...
 Laptop – 13.3" Full HD IPS Display, Intel Core i5 (8th Gen), 8GB RAM, 256GB SSD, Back-lit Keyboard - White – 13Z980-U.AAW5U1</p>
           <a href="https://amzn.to/3bwdk9W" class="btn btn-warning">$979.43</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2EUk9pU"><img class="card-img-top" src="{%static 'affiliate/images/lap4.jpg'%}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2EUk9pU">ASUS VivoBook 15 Thin and Light Laptop</a>
            </h4>
            <p class="card-text">Introducing ASUS VivoBook 15 Thin and Light Laptop..
 15.6” Full HD, AMD Quad Core R5-3500U CPU, 8GB DDR4 RAM, 256GB PCIe SSD, AMD Radeon Vega 8 Graphics, Windows 10 Home, F512DA-EB51, Slate.</p>
          <a href="https://amzn.to/2EUk9pU" class="btn btn-warning">$479.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2ES7eos"><img class="card-img-top" src="{%static 'affiliate/images/lap5.jpg'%}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2ES7eos">Acer Aspire 5 A515-55-378V</a>
            </h4>
            <p class="card-text">Introducing Acer Aspire 5 A515-55-378V...
Configuration:
15.6" Full HD Display, 10th Gen Intel Core i3-1005G1 Processor (Up to 3.4GHz), 4GB DDR4, 128GB NVMe SSD, WiFi 6, HD Webcam, Backlit Keyboard, Windows 10 in S Mode.</p>
           <a href="https://amzn.to/2ES7eos" class="btn btn-warning ">$459.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2DAHZ9s"><img class="card-img-top" src="{%static 'affiliate/images/lap6.jpg'%}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2DAHZ9s">2019 HP Stream Laptop</a>
            </h4>
            <p class="card-text">Introducing 2019 HP Stream Laptop ...
Configuration: Laptop 14inch, Intel Celeron N4000, Intel UHD Graphics 600, 4GB SDRAM, 32GB SSD, HDMI, Win10, 14-cb164wm Brilliant Black (Renewed).</p>
           <a href="https://amzn.to/2DAHZ9s" class="btn btn-warning">$325.00</a>
          </div>
        </div>
      </div>
    </div>
    
    </br>
    <hr>
    </br> </br>
      
    <!-- /.row -->
    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "gadgetdeal097-20";
amzn_assoc_search_bar_position = "bottom";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_search_phrase = "Desktops";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "958c2d6b785e7e0eddd5d8de433d872d";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
      <div class="col-lg-6">
        <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "gadgetdeal097-20";
amzn_assoc_search_bar_position = "bottom";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_search_phrase = "laptops";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "958c2d6b785e7e0eddd5d8de433d872d";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
    <!-- /.row -->
</div>
    </br>
    <hr>
    </br>
    
    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Buy your laptops and use it lifetime with your comfort.We searched all of Amazon.com for the lowest and full fresh laptops prices.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="https://www.amazon.com/s?k=Laptops&i=computers&camp=1789&creative=9325&linkCode=ur2&linkId=6e2bfcd5c8035ede05e305a895a29194&tag=gadgetdeal097-20">Shop Laptops on Amazon</a>
      </div>
    </div>
</br></br>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{%static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{%static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
